@model testExperis.Models.Alumnos

@{
    ViewData["Title"] = "Eliminar";
}

    <h1>Eliminar</h1>

    <h3>¿Estás segura de que quieres eliminar este alumno?</h3>
<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.semestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonoMovil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonoMovil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
